<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>New Note</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Título</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ngx-editor-menu [editor]="editor" [toolbar]="firstToolbar"></ngx-editor-menu>
  <ngx-editor-menu class="editor-menu" [editor]="editor" [toolbar]="secondToolbar"></ngx-editor-menu>
  <ngx-editor class="textarea-editor" [editor]="editor" [ngModel]="html" [disabled]="false"
    [placeholder]="'Escriba aquí...'"></ngx-editor>
</ion-content>